.container {
  width: 100%;
}

.heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #f5f3f3;
}

.time {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0;
  transition: all 0.2s ease;
  color: #f3f0f0;
}

/* Flash animation when <10s */
.flash {
  color: red;
  transform: scale(1.1);
}

.warning {
  color: #b33a3a;
  font-size: 14px;
  text-align: center;
  margin-bottom: 8px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.buttons button {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #014621;
  color: white;
  font-size: 14px;
}

.buttons button:hover {
  background: #3b7bc0;
}
